@import "./normalize.css";

:root {
  --color-primary: #15f4ee;
  --color-secondary: #909096;
  --color-body: #f7f7f7;
  --color-background: #1d1d1d;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background: var(--color-background);
  min-width: 320px;
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--color-body);
  box-sizing: border-box;
  height: 100%;
}

h1,
h2,
h3 {
  margin: 0rem;
  line-height: 1.1;
}

h1 {
  font-size: 2.7rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1rem;
}

@media screen and (min-width: 385px) {
  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 2.3rem;
  }

  h3 {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 600px) {
  body {
    font-size: 1.2rem;
  }

  h1 {
    font-size: 4.5rem;
  }

  h2 {
    font-size: 2.7rem;
  }

  h3 {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 825px) {
  body {
    font-size: 1.4rem;
  }

  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 1010px) {
  body {
    font-size: 1.6rem;
  }

  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 3.5rem;
  }

  h3 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1103px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

a {
  text-decoration: none;
  color: var(--color-primary);
}

/* Text */
.gray--text {
  color: #8d8d8d;
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.text--slide-up {
  opacity: 0;
  animation: slide-up 0.5s ease-in 1s forwards;
}

@keyframes slide-up {
  from {
    transform: translateY(2rem);
    opacity: 0.2;
  }

  to {
    transform: translateY(0rem);
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  .gray--text {
    font-size: 2rem;
  }
}

@media screen and (min-width: 900px) {
  .gray--text {
    font-size: 2.5rem;
  }
}

/* Icons*/
.icon {
  fill: #909096;
  width: 25px;
  height: 25px;
}

.icon:hover {
  transition: fill 0.2s;
  cursor: pointer;
  fill: var(--color-primary);
}

.icon--social {
  width: 15px;
  height: 15px;
}

.icon-scroll {
  fill: #15f4ee;
  padding-left: 10px;
}

.icon-scroll--right {
  fill: #c91c55;
  padding-left: 5px;
}

@media screen and (min-width: 600px) {
  .icon-scroll {
    padding-left: 0px;
  }

  .icon-scroll--right {
    padding-left: 0px;
  }
}

/* Lists */
.list {
  list-style: none;
}

/* Collapsibles */
.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}

/* Menu */

#menu {
  width: 0;
}

@media screen and (min-width: 768px) {
  #menu {
    width: 120px;
  }
}

#hideMenu {
  visibility: hidden;
}

.menu-open {
  position: fixed;
  box-shadow: 0 0 0 5px #000;
  background: #000;
  top: 2rem;
  right: 2rem;
}

/* Nav */
.nav {
  background: #181818;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 0vh;
  width: 100vw;
  position: fixed;
  z-index: 100;
  top: 0;
}

.nav__list {
  width: 100%;
  padding-left: 0;
  text-align: center;
}

.nav__top {
  width: 100%;
  height: 140px;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.nav__logo #cv-logo {
  font-size: 5rem;
  text-shadow: -3px -1px #c91c55;
}

#name {
  font-size: 1.7rem;
  color: var(--color-primary);
}

.nav .nav__top > span {
  font-size: 1.2rem;
}

.nav__toggler {
  position: fixed;
  box-shadow: 0 0 0 1px #000;
  background: #000;
  top: 2rem;
  right: 2rem;
}

.nav__item {
  border-bottom: 0.1px solid #282828;
}

.nav__item:first-child {
  border-top: 1px solid #282828;
}

.nav--social {
  display: flex;
  justify-content: center;
  margin-bottom: 10rem;
}

.nav__item a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  font-size: 2rem;
  color: #909096;
}

.nav__item a:hover {
  color: var(--color-primary);
  transition: color 0.2s;
}

.nav--social li {
  margin-right: 1rem;
}

@media screen and (min-width: 768px) {
  .nav {
    position: fixed;
    width: 120px;
    height: 100vh;
  }

  .menu-open {
    visibility: hidden;
  }

  .nav__toggler {
    display: none;
  }

  .nav__brand {
    width: 120px;
  }

  .nav__item a {
    font-size: 1.5rem;
  }
}

/* Buttons */
.btn {
  position: relative;
  border: 1px solid var(--color-primary);
  border-radius: 0px;
  padding: 1rem 5rem;
  cursor: pointer;
  background: var(--color-background);
  font-size: 1.5rem;
}

.btn--primary {
  color: var(--color-primary);
}

.btn.btn-background-slide::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: var(--color-primary);
  transform: skew(-15deg) scaleX(0);
  transition: all 0.3s ease-in;
  transform-origin: left top;
}

.btn.btn.btn-background-slide:hover::before {
  width: 100%;
  transform: skew(0deg) scaleX(1);
}

.btn.btn.btn-background-slide {
  overflow: hidden;
  z-index: 1;
}

.btn.btn.btn-background-slide:hover {
  transition: 0.2s;
  color: #1d1d1d;
}

.btn--slide-up {
  opacity: 0;
  animation: slide-up 0.5s ease-in 1.5s forwards;
}

@keyframes slide-up {
  from {
    transform: translateY(2rem);
    opacity: 0.2;
  }

  to {
    transform: translateY(0rem);
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  .btn {
    font-size: 2.4rem;
  }
}

/* Blocks */
.block--home {
  display: flex;
  min-height: 100vh;
  padding: 9rem 3rem;
  z-index: 100;
  align-items: center;
}

.block--gray h1,
.block--gray h2,
.block--gray h3 {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color-primary);
}

.block--about {
  min-height: 50vh;
  padding: 9rem 3rem;
  z-index: 100;
}

.block--experience {
  min-height: 50vh;
  padding: 9rem 3rem;
  z-index: 100;
}

@media screen and (min-width: 768px) {
  .block--home {
    padding: 100px 18rem;
  }

  .block--about {
    padding: 100px 18rem;
    padding-bottom: 0;
  }

  .block--experience {
    padding: 100px 18rem;
  }
}

/* Grids */

.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--portfolio {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 900px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 50%);
    align-items: center;
    gap: 5rem;
    height: 100vh;
  }

  .grid--1x2-full {
    grid-template-columns: repeat(2, 50%);
    align-items: center;
    gap: 5rem;
  }

  .grid--1x2--experience {
    grid-template-columns: repeat(2, 20% 80%);
    align-items: center;
    gap: 20rem;
  }

  .grid--1x2--contact {
    grid-template-columns: repeat(2, auto 1fr);
    gap: 5rem;
    align-items: center;
    height: 100vh;
  }

  .grid--1x2--contact-full {
    grid-template-columns: repeat(2, auto 1fr);
    align-items: center;
    gap: 5rem;
  }
}

@media screen and (min-width: 1400px) {
  .grid--portfolio {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Glitch */
.glitch {
  position: relative;
}

.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.glitch::before {
  left: 3px;
  text-shadow: -5px 0 #c91c55;
  animation: glitch-1 3s linear reverse infinite;
}

.glitch::after {
  left: 3px;
  text-shadow: -5px 0 var(--color-primary);
  animation: glitch-2 3s linear reverse infinite;
}

.glitch:hover:before,
.glitch:hover::after {
  animation: none;
  text-shadow: -5px 0 #c91c55;
}

@keyframes glitch-1 {
  0% {
    clip: rect(132px, auto, 101px, 0px);
  }
  5% {
    clip: rect(17px, auto, 94px, 0px);
  }
  10% {
    clip: rect(40px, auto, 66px, 0px);
  }
  15% {
    clip: rect(87px, auto, 82px, 0px);
  }
  20% {
    clip: rect(137px, auto, 61px, 0px);
  }
  25% {
    clip: rect(34px, auto, 14px, 0px);
  }
  30% {
    clip: rect(133px, auto, 74px, 0px);
  }
  35% {
    clip: rect(76px, auto, 107px, 0px);
  }
  40% {
    clip: rect(59px, auto, 130px, 0px);
  }
  45% {
    clip: rect(29px, auto, 84px, 0px);
  }
  50% {
    clip: rect(22px, auto, 67px, 0px);
  }
  55% {
    clip: rect(67px, auto, 62px, 0px);
  }
  60% {
    clip: rect(10px, auto, 105px, 0px);
  }
  65% {
    clip: rect(78px, auto, 115px, 0px);
  }
  70% {
    clip: rect(105px, auto, 13px, 0px);
  }
  75% {
    clip: rect(15px, auto, 75px, 0px);
  }
  80% {
    clip: rect(66px, auto, 39px, 0px);
  }
  85% {
    clip: rect(133px, auto, 73px, 0px);
  }
  90% {
    clip: rect(36px, auto, 128px, 0px);
  }
  95% {
    clip: rect(68px, auto, 103px, 0px);
  }
  100% {
    clip: rect(14px, auto, 100px, 0px);
  }
}

@keyframes glitch-2 {
  0% {
    clip: rect(129px, auto, 36px, 0);
  }
  5% {
    clip: rect(36px, auto, 4px, 0);
  }
  10% {
    clip: rect(85px, auto, 66px, 0);
  }
  15% {
    clip: rect(91px, auto, 91px, 0);
  }
  20% {
    clip: rect(148px, auto, 138px, 0);
  }
  25% {
    clip: rect(38px, auto, 122px, 0);
  }
  30% {
    clip: rect(69px, auto, 54px, 0);
  }
  35% {
    clip: rect(98px, auto, 71px, 0);
  }
  40% {
    clip: rect(146px, auto, 34px, 0);
  }
  45% {
    clip: rect(134px, auto, 43px, 0);
  }
  50% {
    clip: rect(102px, auto, 80px, 0);
  }
  55% {
    clip: rect(119px, auto, 44px, 0);
  }
  60% {
    clip: rect(106px, auto, 99px, 0);
  }
  65% {
    clip: rect(141px, auto, 74px, 0);
  }
  70% {
    clip: rect(20px, auto, 78px, 0);
  }
  75% {
    clip: rect(133px, auto, 79px, 0);
  }
  80% {
    clip: rect(78px, auto, 52px, 0);
  }
  85% {
    clip: rect(35px, auto, 39px, 0);
  }
  90% {
    clip: rect(67px, auto, 70px, 0);
  }
  95% {
    clip: rect(71px, auto, 103px, 0);
  }
  100% {
    clip: rect(83px, auto, 40px, 0);
  }
}

/* Reveal */
.reveal-1 {
  visibility: hidden;
}

.reveal-2 {
  visibility: hidden;
}

/* Canvas*/
#canvas1 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -4;
  filter: url(#goo);
  opacity: 1;
}
#canvas2 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -5;
  opacity: 1;
}

/* Rotation */
#rotation {
  position: relative;
  right: 7rem;
}

@media screen and (min-width: 900px) {
  #rotation {
    right: 0;
  }
}

/*Text-zone*/
.text-zone {
  margin-right: 8rem;
}

@media screen and (min-width: 768px) {
  .text-zone {
    margin-right: 12rem;
  }
}

@media screen and (min-width: 900px) {
  .text-zone {
    margin-right: 0rem;
  }
}

/*Branch*/
.branch--header--education {
  position: relative;
  top: 12rem;
  color: var(--color-body);
  margin-left: 3rem;
  font-family: "La Belle Aurore", cursive;
  z-index: 2;
}

.branch--header--experience {
  margin-top: 10rem;
  padding-bottom: 2rem;
  color: var(--color-body);
  margin-left: 3rem;
  font-family: "La Belle Aurore", cursive;
  z-index: 2;
}

.branch--header--experience-full {
  padding-bottom: 2rem;
  padding-top: 10rem;
  color: var(--color-body);
  margin-left: 3rem;
  font-family: "La Belle Aurore", cursive;
  z-index: 2;
}

.branch--main {
  height: 41rem;
  width: 5rem;
  border: 5px solid var(--color-primary);
  border-left: none;
  border-top: none;
  border-bottom: none;
  margin-left: 0rem;
  margin-top: -10rem;
}

.branch--main-last {
  margin-bottom: 9rem;
}

.branch--dev {
  margin-top: -0.5rem;
  margin-left: 2rem;
  height: 30rem;
  width: 5rem;
  border: 5px solid #c91c55;
  border-left: none;
  border-top: none;
  border-bottom: none;
  border-radius: 20px;
}

.branch--circle--top {
  margin-top: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  border: 5px solid #c91c55;
  border-radius: 50px;
  margin-left: 4rem;
  background: #c91c55;
}

.branch--circle--middle {
  width: 1.5rem;
  height: 1.5rem;
  border: 5px solid #c91c55;
  border-radius: 50px;
  margin-left: 4rem;
  position: relative;
  top: 14rem;
  background: #c91c55;
}

.branch--circle--bottom {
  background: #c91c55;
  width: 1.5rem;
  height: 1.5rem;
  border: 5px solid #c91c55;
  border-radius: 50px;
  margin-left: 4rem;
  margin-top: -0.5rem;
}

.branch--dev--orangered {
  margin-top: -0.5rem;
  margin-left: 2rem;
  height: 30rem;
  width: 5rem;
  border: 5px solid orangered;
  border-left: none;
  border-top: none;
  border-bottom: none;
  border-radius: 20px;
}

.branch--circle--top--orangered {
  margin-top: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  border: 5px solid orangered;
  border-radius: 50px;
  margin-left: 4rem;
  background: orangered;
}

.branch--circle--middle--orangered {
  width: 1.5rem;
  height: 1.5rem;
  border: 5px solid orangered;
  border-radius: 50px;
  margin-left: 4rem;
  position: relative;
  top: 14rem;
  background: orangered;
}

.branch--circle--bottom--orangered {
  background: orangered;
  width: 1.5rem;
  height: 1.5rem;
  border: 5px solid orangered;
  border-radius: 50px;
  margin-left: 4rem;
  margin-top: -0.5rem;
}

.branch--dev--info {
  color: var(--color-body);
  position: relative;
  top: 8rem;
  margin-left: 7rem;
  font-family: "La Belle Aurore", cursive;
  width: 25rem;
}

.branch--blur {
  top: 5rem;
  margin-left: -5rem;
  position: relative;
  width: 20rem;
  height: 8rem;
  background: var(--color-background);
  z-index: 1;
}

.branch--space {
  margin-bottom: -4rem;
}

/* Feature */
.feature {
  margin-top: 10rem;
  margin-right: 5rem;
  gap: 0rem 18rem;
}

.feature--headings--pink {
  font-weight: 100;
  color: #c91c55;
}

.feature--headings--orangered {
  font-weight: 100;
  color: orangered;
}

.feature--content {
  padding: 2rem;
  box-shadow: 0 0 30px 5px #000;
  border: 2.5px solid #c91c55;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.feature--content-last {
  margin-bottom: 9rem;
}

.feature--content--orangered {
  border-color: orangered;
}

@media screen and (min-width: 900px) {
  .feature--content {
    margin-top: -10rem;
  }
}

.feature--content::before {
  content: attr(data-text);
  color: #515152;
  font-family: "La Belle Aurore", cursive;
}

.feature--content::after {
  align-content: center;
  content: "Commit";
  color: #515152;
  font-family: "La Belle Aurore", cursive;
}

/* Contact-form */
.contact-form ul {
  padding: 0;
}

.contact-form ul li {
  list-style: none;
  margin-top: 0rem;
  margin-bottom: 0rem;
  position: relative;
}

.contact-form input {
  margin-top: 1rem;
  margin-right: 1rem;
  padding: 1.5rem;
  background-color: #2b2b2b;
  color: #8d8d8d;
  border: none;
  width: 100%;
  outline: none;
}

.contact-form input:focus {
  border-bottom: 2px solid var(--color-primary);
  width: 100%;
}

.contact-form textarea {
  margin-top: 1rem;
  padding: 1.5rem;
  background-color: #2b2b2b;
  color: #8d8d8d;
  border: none;
  width: 100%;
  height: 50px;
  min-height: 150px;
  display: block;
  outline: none;
}

.contact-form textarea:focus {
  border-bottom: 2px solid var(--color-primary);
  width: 100%;
}

.contact-form a {
  margin-top: 1rem;
  display: flex;
  margin-bottom: 5rem;
}

.contact-form p {
  width: 50%;
  margin-top: 1rem;
  display: flex;
}

#profile {
  position: relative;
  margin-bottom: 3rem;
}

#personal-information {
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  margin-top: 19rem;
  font-size: 1.2rem;
  opacity: 0.7;
  z-index: 1;
  width: 26.5rem;
  height: 11rem;
  padding: 0rem 1rem;
  padding-bottom: 1rem;
}

#profile-picture {
  max-width: 30rem;
  max-height: 30rem;
}

@media screen and (min-width: 900px) {
  #personal-information {
    width: 44.1rem;
    height: 18rem;
    font-size: 1.9rem;
    margin-top: 32rem;
  }

  #profile-picture {
    max-width: 50rem;
    max-height: 50rem;
  }
}

/* Porfolio */

.portfolio-content {
  margin-left: 3rem;
  margin-top: 9rem;
  width: 50%;
}

.portfolio-button {
  margin-left: 3rem;
  margin-bottom: 9rem;
}

.hover-project {
  width: 80px;
  height: 80px;
  background: #15f4ee;
  border-radius: 50px;
  position: absolute;
  z-index: -1;
}

.card {
  margin: 2rem;
  position: relative;
  width: 220px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 0px 30px #000;
  background: linear-gradient(45deg, #15f4ee, orangered);
}

.card:hover {
  transform: scale(1.05);
  transition: all 0.2s;
}

.card:hover .hover-project {
  animation: scale 0.3s;
}

@keyframes scale {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
}

.card .content {
  padding: 3rem;
  position: absolute;
  z-index: 2;
  margin-right: 10rem;
}

.card a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 100%;
  color: #000;
  z-index: 3;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 2px;
  opacity: 0;
  background: rgba(255, 255, 255, 0.1);
}

.card a:hover {
  opacity: 1;
}

.card:nth-child(2) {
  background: linear-gradient(45deg, #15f4ee, #c91c55);
}

.card:nth-child(3) {
  background: linear-gradient(45deg, #15f4ee, #f321d7);
}

.card:nth-child(4) {
  background: linear-gradient(45deg, #15f4ee, #b026ff);
}

.card span {
  position: absolute;
  top: 6px;
  left: 6px;
  bottom: 6px;
  right: 6px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.card span::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 6px;
  width: 50%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  z-index: 2;
}

@media screen and (min-width: 420px) {
  .card {
    width: 280px;
    height: 400px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-button {
    margin-top: 1rem;
  }
}

/* Scroll down*/
.scroll-down {
  display: flex;
  position: absolute;
  bottom: 3rem;
  left: 10px;
  flex-direction: column;
}

.scroll-down--right {
  display: flex;
  position: absolute;
  bottom: 3rem;
  right: 10px;
  flex-direction: column;
}

.scroll-down span {
  writing-mode: vertical-rl;
  animation: bounce 1s linear infinite;
  color: var(--color-primary);
}

.scroll-down--right span {
  writing-mode: vertical-rl;
  animation: bounce 1s linear infinite;
  color: #c91c55;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  50% {
    transform: translateY(-30px);
    animation-timing-function: ease-in;
  }
  100% {
    top: 0;
  }
}

@media screen and (min-width: 768px) {
  .scroll-down {
    display: flex;
    position: absolute;
    bottom: 3rem;
    left: 13rem;
  }
}
