@import "./normalize.css";

:root {
  --color-primary: #15f4ee;
  --color-secondary: #909096;
  --color-body: #f7f7f7;
  --color-background: #1d1d1d;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background: var(--color-background);
  min-width: 320px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--color-body);
  box-sizing: border-box;
}

h1,
h2,
h3 {
  margin: 0rem;
  line-height: 1.1;
}

h1 {
  font-size: 2.7rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1rem;
}

@media screen and (min-width: 385px) {
  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 2.3rem;
  }

  h3 {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 600px) {
  body {
    font-size: 1.2rem;
  }

  h1 {
    font-size: 4.5rem;
  }

  h2 {
    font-size: 2.7rem;
  }

  h3 {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 825px) {
  body {
    font-size: 1.4rem;
  }

  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 1010px) {
  body {
    font-size: 1.6rem;
  }

  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 3.5rem;
  }

  h3 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1103px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

a {
  text-decoration: none;
  color: var(--color-primary);
}

/* Text */
.gray--text {
  color: #8d8d8d;
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.text--slide-up {
  opacity: 0;
  animation: slide-up 0.5s ease-in 1s forwards;
}

@keyframes slide-up {
  from {
    transform: translateY(2rem);
    opacity: 0.2;
  }

  to {
    transform: translateY(0rem);
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  .gray--text {
    font-size: 2rem;
  }
}

@media screen and (min-width: 900px) {
  .gray--text {
    font-size: 2.5rem;
  }
}

/* Icons*/
.icon {
  fill: var(--color-secondary);
  width: 25px;
  height: 25px;
}

.icon:hover {
  transition: fill 0.3s;
  cursor: pointer;
  fill: #15f4ee;
}

.icon--social {
  width: 10px;
  height: 10px;
}

/* Lists */
.list {
  list-style: none;
}

/* Collapsibles */
.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}

/* Nav */
.nav {
  background: #181818;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 100;
}

/* Menu */
.menu-open {
  position: fixed;
  box-shadow: 0 0 0 5px #000;
  background: #000;
  top: 2rem;
  right: 2rem;
}

@media screen and (min-width: 768px) {
  .menu-open {
    visibility: hidden;
  }
}

.nav__list {
  width: 100%;
  padding-left: 0;
  text-align: center;
}

.nav__top {
  width: 100%;
  height: 130px;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.nav__logo svg {
  display: flex;
  width: 70px;
  height: 60px;
}

.nav__logo span {
  font-size: 1.7rem;
  color: var(--color-primary);
}

.nav .nav__top > span {
  font-size: 1.2rem;
}

.nav__toggler {
  position: fixed;
  box-shadow: 0 0 0 1px #000;
  background: #000;
  top: 2rem;
  right: 2rem;
}

.nav__item {
  border-bottom: 0.1px solid var(--color-secondary);
}

.nav__item:first-child {
  border-top: 0.1px solid var(--color-secondary);
}

.nav--social {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.nav__item a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.nav--social li {
  margin-right: 0.5rem;
}

@media screen and (min-width: 768px) {
  .nav {
    position: fixed;
    width: 120px;
  }

  .nav__toggler {
    display: none;
  }

  .nav__brand {
    width: 120px;
  }
}

/* Buttons */
.btn {
  position: relative;
  border: 1px solid var(--color-primary);
  border-radius: 0px;
  padding: 1rem 5rem;
  cursor: pointer;
  background: var(--color-background);
  font-size: 1.5rem;
}

.btn--primary {
  color: #15f4ee;
}

.btn.btn-background-slide::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: var(--color-primary);
  transform: skew(-15deg) scaleX(0);
  transition: all 0.3s ease-in;
  transform-origin: left top;
}

.btn.btn.btn-background-slide:hover::before {
  width: 100%;
  transform: skew(0deg) scaleX(1);
}

.btn.btn.btn-background-slide {
  overflow: hidden;
  z-index: 1;
}

.btn.btn.btn-background-slide:hover {
  transition: 0.2s;
  color: #1d1d1d;
}

.btn--slide-up {
  opacity: 0;
  animation: slide-up 0.5s ease-in 1.5s forwards;
}

@keyframes slide-up {
  from {
    transform: translateY(2rem);
    opacity: 0.2;
  }

  to {
    transform: translateY(0rem);
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  .btn {
    font-size: 2.4rem;
  }
}

/* Blocks */
.block--home {
  display: flex;
  min-height: 100vh;
  padding: 9rem 3rem;
  z-index: 100;
  align-items: center;
}

.block--gray h1,
.block--gray h2,
.block--gray h3 {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color-primary);
}

.block--about {
  min-height: 50vh;
  padding: 9rem 3rem;
  z-index: 100;
}

.block--experience {
  min-height: 100vh;
  padding: 9rem 3rem;
  z-index: 100;
}

@media screen and (min-width: 768px) {
  .block--home {
    padding: 100px 18rem;
  }

  .block--about {
    padding: 100px 18rem;
    padding-bottom: 0;
  }

  .block--experience {
    padding: 0px 18rem;
  }
}

/* Grids */

.grid {
  display: grid;
}

@media screen and (min-width: 900px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 50%);
    align-items: center;
    gap: 5rem;
  }

  .grid--1x2-experience {
    grid-template-columns: repeat(2, 20% 80%);
    align-items: center;
    gap: 20rem;
  }
}

/* Glitch */
.glitch {
  position: relative;
}

.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.glitch::before {
  left: 3px;
  text-shadow: -5px 0 #c91c55;
  animation: glitch-1 3s linear reverse infinite;
}

.glitch::after {
  left: 3px;
  text-shadow: -5px 0 var(--color-primary);
  animation: glitch-2 3s linear reverse infinite;
}

.glitch:hover:before,
.glitch:hover::after {
  animation: none;
  text-shadow: -5px 0 #c91c55;
}

@keyframes glitch-1 {
  0% {
    clip: rect(132px, auto, 101px, 0px);
  }
  5% {
    clip: rect(17px, auto, 94px, 0px);
  }
  10% {
    clip: rect(40px, auto, 66px, 0px);
  }
  15% {
    clip: rect(87px, auto, 82px, 0px);
  }
  20% {
    clip: rect(137px, auto, 61px, 0px);
  }
  25% {
    clip: rect(34px, auto, 14px, 0px);
  }
  30% {
    clip: rect(133px, auto, 74px, 0px);
  }
  35% {
    clip: rect(76px, auto, 107px, 0px);
  }
  40% {
    clip: rect(59px, auto, 130px, 0px);
  }
  45% {
    clip: rect(29px, auto, 84px, 0px);
  }
  50% {
    clip: rect(22px, auto, 67px, 0px);
  }
  55% {
    clip: rect(67px, auto, 62px, 0px);
  }
  60% {
    clip: rect(10px, auto, 105px, 0px);
  }
  65% {
    clip: rect(78px, auto, 115px, 0px);
  }
  70% {
    clip: rect(105px, auto, 13px, 0px);
  }
  75% {
    clip: rect(15px, auto, 75px, 0px);
  }
  80% {
    clip: rect(66px, auto, 39px, 0px);
  }
  85% {
    clip: rect(133px, auto, 73px, 0px);
  }
  90% {
    clip: rect(36px, auto, 128px, 0px);
  }
  95% {
    clip: rect(68px, auto, 103px, 0px);
  }
  100% {
    clip: rect(14px, auto, 100px, 0px);
  }
}

@keyframes glitch-2 {
  0% {
    clip: rect(129px, auto, 36px, 0);
  }
  5% {
    clip: rect(36px, auto, 4px, 0);
  }
  10% {
    clip: rect(85px, auto, 66px, 0);
  }
  15% {
    clip: rect(91px, auto, 91px, 0);
  }
  20% {
    clip: rect(148px, auto, 138px, 0);
  }
  25% {
    clip: rect(38px, auto, 122px, 0);
  }
  30% {
    clip: rect(69px, auto, 54px, 0);
  }
  35% {
    clip: rect(98px, auto, 71px, 0);
  }
  40% {
    clip: rect(146px, auto, 34px, 0);
  }
  45% {
    clip: rect(134px, auto, 43px, 0);
  }
  50% {
    clip: rect(102px, auto, 80px, 0);
  }
  55% {
    clip: rect(119px, auto, 44px, 0);
  }
  60% {
    clip: rect(106px, auto, 99px, 0);
  }
  65% {
    clip: rect(141px, auto, 74px, 0);
  }
  70% {
    clip: rect(20px, auto, 78px, 0);
  }
  75% {
    clip: rect(133px, auto, 79px, 0);
  }
  80% {
    clip: rect(78px, auto, 52px, 0);
  }
  85% {
    clip: rect(35px, auto, 39px, 0);
  }
  90% {
    clip: rect(67px, auto, 70px, 0);
  }
  95% {
    clip: rect(71px, auto, 103px, 0);
  }
  100% {
    clip: rect(83px, auto, 40px, 0);
  }
}

.wavy-root {
  position: relative;
}

.wavy {
  float: left;
  position: relative;
  display: inline-block;
}

.wavy.animated {
  -moz-animation: bounce 1s;
  -webkit-animation: bounce 1s;
  animation: bounce 1s;
}

@-webkit-keyframes bounce {
  0% {
    top: 0;
    animation-timing-function: ease-out;
  }
  17% {
    top: 15px;
    animation-timing-function: ease-in;
  }
  34% {
    top: 0;
    animation-timing-function: ease-out;
  }
  51% {
    top: 8px;
    animation-timing-function: ease-in;
  }
  68% {
    top: 0px;
    animation-timing-function: ease-out;
  }
  85% {
    top: 3px;
    animation-timing-function: ease-in;
  }
  100% {
    top: 0;
  }
}
@-moz-keyframes bounce {
  0% {
    top: 0;
    animation-timing-function: ease-out;
  }
  17% {
    top: 15px;
    animation-timing-function: ease-in;
  }
  34% {
    top: 0;
    animation-timing-function: ease-out;
  }
  51% {
    top: 8px;
    animation-timing-function: ease-in;
  }
  68% {
    top: 0px;
    animation-timing-function: ease-out;
  }
  85% {
    top: 3px;
    animation-timing-function: ease-in;
  }
  100% {
    top: 0;
  }
}
@keyframes bounce {
  0% {
    top: 0;
    animation-timing-function: ease-out;
  }
  17% {
    top: 15px;
    animation-timing-function: ease-in;
  }
  34% {
    top: 0;
    animation-timing-function: ease-out;
  }
  51% {
    top: 8px;
    animation-timing-function: ease-in;
  }
  68% {
    top: 0px;
  }
  85% {
    top: 3px;
    animation-timing-function: ease-in;
  }
  100% {
    top: 0;
  }
}

/* Reveal */
.reveal-1 {
  visibility: hidden;
}

.reveal-2 {
  visibility: hidden;
}
/* .reveal--root {
  position: relative;
  margin-inline-start: 0;
  margin-inline-end: 0;
  display: block;
}

.reveal--root::before {
  content: attr(data-text);
  position: absolute;
  left: -1.5rem;
  margin-top: -5rem;
}

.reveal--root::after {
  content: "";
  position: absolute;
  margin-top: 3.8rem;
  margin-left: 2rem;
}

@keyframes reveal {
} */

/* Canvas*/

#canvas1 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -4;
  filter: url(#goo);
  opacity: 1;
}
#canvas2 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -5;
  opacity: 1;
}

/* Rotation */
#rotation {
  position: relative;
  right: 7rem;
}

@media screen and (min-width: 900px) {
  #rotation {
    right: 0;
  }
}

/*Text-zone*/
.text-zone {
  margin-right: 8rem;
}

@media screen and (min-width: 768px) {
  .text-zone {
    margin-right: 12rem;
  }
}

@media screen and (min-width: 900px) {
  .text-zone {
    margin-right: 0rem;
  }
}

/*Branch*/
.branch--header--education {
  position: relative;
  top: 12rem;
  color: var(--color-body);
  margin-left: 3rem;
  font-family: "La Belle Aurore", cursive;
  z-index: 2;
}

.branch--header--experience {
  margin-top: 10rem;
  padding-bottom: 2rem;
  color: var(--color-body);
  margin-left: 3rem;
  font-family: "La Belle Aurore", cursive;
  z-index: 2;
}

.branch--main {
  height: 41rem;
  width: 5rem;
  border: 5px solid var(--color-primary);
  border-left: none;
  border-top: none;
  border-bottom: none;
  margin-left: 0rem;
  margin-top: -10rem;
}

.branch--dev {
  margin-top: -0.5rem;
  margin-left: 2rem;
  height: 30rem;
  width: 5rem;
  border: 5px solid #c91c55;
  border-left: none;
  border-top: none;
  border-bottom: none;
  border-radius: 20px;
}

.branch--circle--top {
  margin-top: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  border: 5px solid #c91c55;
  border-radius: 50px;
  margin-left: 4rem;
  background: #c91c55;
}

.branch--circle--middle {
  width: 1.5rem;
  height: 1.5rem;
  border: 5px solid #c91c55;
  border-radius: 50px;
  margin-left: 4rem;
  position: relative;
  top: 14rem;
  background: #c91c55;
}

.branch--circle--bottom {
  background: #c91c55;
  width: 1.5rem;
  height: 1.5rem;
  border: 5px solid #c91c55;
  border-radius: 50px;
  margin-left: 4rem;
  margin-top: -0.5rem;
}

.branch--dev--orangered {
  margin-top: -0.5rem;
  margin-left: 2rem;
  height: 30rem;
  width: 5rem;
  border: 5px solid orangered;
  border-left: none;
  border-top: none;
  border-bottom: none;
  border-radius: 20px;
}

.branch--circle--top--orangered {
  margin-top: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  border: 5px solid orangered;
  border-radius: 50px;
  margin-left: 4rem;
  background: orangered;
}

.branch--circle--middle--orangered {
  width: 1.5rem;
  height: 1.5rem;
  border: 5px solid orangered;
  border-radius: 50px;
  margin-left: 4rem;
  position: relative;
  top: 14rem;
  background: orangered;
}

.branch--circle--bottom--orangered {
  background: orangered;
  width: 1.5rem;
  height: 1.5rem;
  border: 5px solid orangered;
  border-radius: 50px;
  margin-left: 4rem;
  margin-top: -0.5rem;
}

.branch--dev--info {
  color: var(--color-body);
  position: relative;
  top: 8rem;
  margin-left: 7rem;
  font-family: "La Belle Aurore", cursive;
  width: 25rem;
}

.branch--blur {
  top: 5rem;
  margin-left: -5rem;
  position: relative;
  width: 20rem;
  height: 8rem;
  background: var(--color-background);
  z-index: 1;
}

.branch--space {
  margin-bottom: -4rem;
}

/* Feature */
.feature {
  margin-top: 10rem;
  margin-right: 5rem;
  gap: 0rem 18rem;
}

.feature--headings--pink {
  font-weight: 100;
  color: #c91c55;
}

.feature--headings--orangered {
  font-weight: 100;
  color: orangered;
}

.feature--content {
  padding: 2rem;
  box-shadow: 0 0 30px 5px #000;
  border: 2.5px solid #c91c55;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.feature--content--orangered {
  border-color: orangered;
}

@media screen and (min-width: 900px) {
  .feature--content {
    margin-top: -10rem;
  }
}

.feature--content::before {
  content: attr(data-text);
  color: #515152;
  font-family: "La Belle Aurore", cursive;
}

.feature--content::after {
  align-content: center;
  content: "Commit";
  color: #515152;
  font-family: "La Belle Aurore", cursive;
}
