<div class="collapsible collapsible--expanded">
    <header class="collapsible">
        <svg class="icon collapsible">
            <use xlink:href="/images/sprite2.svg#menu" alt="Person"></use>
        </svg>
    </header>
    <ul class="collapsible__content list">
        <li>
            <svg class="icon icon--social">
                <use xlink:href="/images/sprite2.svg#suit" alt="Person"></use>
            </svg>
            item1
        </li>
        <li>
            <svg class="icon icon--social">
                <use xlink:href="/images/sprite2.svg#suit" alt="Person"></use>
            </svg>
            item2
        </li>
        <li>
            <svg class="icon icon--social">
                <use xlink:href="/images/sprite2.svg#suit" alt="Person"></use>
            </svg>
            item3
        </li>
    </ul>  
</div>
<script src="/index.js/main.js"></script>