<svg id="openMenu" class="icon menu-open">
    <use xlink:href="/images/sprite2.svg#menu"></use> /* byt bild för x, kan inte bytta färg med fill*/
</svg>

<nav id="menu" class="nav collapsible collapsible--expanded">
    <svg id="hideMenu" class="icon nav__toggler">
        <use xlink:href="/images/sprite2.svg#x" alt="Person"></use>
    </svg>
<div class="collapsible__content nav__top">
    <a class="nav__logo" href="/">
        <svg>
            <use xlink:href="/images/sprite2.svg#person"></use>
        </svg>
        <span>Benjamin</span>
    </a>
    <span>Developer</span>
</div>
    <ul class="collapsible__content list nav__list">
        <li class="nav__item">
            <a href="/">
                <svg class="icon">
                    <use xlink:href="/images/sprite2.svg#suit" alt="Person"></use>
                </svg>
            </a>
        </li>
        <li class="nav__item">
            <a href="/">
            <svg class="icon">
                <use xlink:href="/images/sprite2.svg#suit" alt="Person"></use>
            </svg>
            </a>
        </li>
        <li class="nav__item">   
            <a href="/">
                <svg class="icon">
                    <use xlink:href="/images/sprite2.svg#suit" alt="Person"></use>
                </svg>
            </a>
        </li>
    </ul> 
    <ul class="collapsible__content list nav__list nav--social">
        <li>
            <a href="/">
                <svg class="icon icon--social">
                    <use xlink:href="/images/sprite.svg#linkedin" alt="Person"></use>
                </svg>
            </a>
        </li>
        <li>
            <a href="/">
                <svg class="icon icon--social">
                    <use xlink:href="/images/sprite.svg#linkedin" alt="Person"></use>
                </svg>
            </a>
        </li>
        <li>
            <a href="/">
                <svg class="icon icon--social">
                    <use xlink:href="/images/sprite.svg#linkedin" alt="Person"></use>
                </svg>
            </a>
        </li>
    </ul> 
</nav>   
<canvas id="canvas1"></canvas>
<section class="block block--gray">
    <div>
        <header>
            <h1 class="reveal--root">
                <span class="reveal">H</span><span class="reveal">e</span><span class="reveal">j</span><span class="reveal">,</span>
                <br>
                <span class="reveal">j</span><span class="reveal">a</span><span class="reveal">g</span>
                <span class="reveal">ä</span><span class="reveal">r</span>
                <span class="reveal glitch" data-text="B">B</span><span class="reveal glitch" data-text="e">e</span><span class="reveal glitch" data-text="n">n</span><span class="reveal glitch" data-text="j">j</span><span class="reveal glitch" data-text="a">a</span><span class="reveal glitch" data-text="m">m</span><span class="reveal glitch" data-text="i">i</span><span class="reveal glitch" data-text="n">n</span><span class="reveal glitch" data-text="Benjamin"></span><span class="reveal">,</span>
                <br>
                <span class="reveal">f</span><span class="reveal">u</span><span class="reveal">l</span><span class="reveal">l</span><span class="reveal">s</span><span class="reveal">t</span><span class="reveal">a</span><span class="reveal">c</span><span class="reveal">k</span>
                <span class="reveal">u</span><span class="reveal">t</span><span class="reveal">v</span><span class="reveal">e</span><span class="reveal">c</span><span class="reveal">k</span><span class="reveal">l</span><span class="reveal">a</span><span class="reveal">r</span><span class="reveal">e</span>
            </h1>
            <p class="gray--text text--slide-up">Back End / Front End Developer</p>
            <a href="">
                <button class="btn btn--primary btn-background-slide btn--slide-up">Contact me!</button>
            </a>
        </header>
    </div>
</section>
<canvas id="canvas2"></canvas>
<script src="/index.js/main.js"></script>