<nav class="collapsible nav collapsible--expanded">
    <svg class="icon nav__toggler">
        <use xlink:href="/images/sprite2.svg#menu" alt="Person"></use>
    </svg>
    <ul class="collapsible__content list nav__list">
        <li class="nav__item">
            <svg class="icon">
                <use xlink:href="/images/sprite2.svg#suit" alt="Person"></use>
            </svg>
            item1
        </li>
        <li class="nav__item">
            <svg class="icon">
                <use xlink:href="/images/sprite2.svg#suit" alt="Person"></use>
            </svg>
            item2
        </li>
        <li class="nav__item">
            <svg class="icon">
                <use xlink:href="/images/sprite2.svg#suit" alt="Person"></use>
            </svg>
            item3
        </li>
    </ul>
</nav>
<script src="/index.js/main.js"></script>