<section class="block--experience">
    <article>
        <div>
            <h2 class="branch--header--experience">Arbetslivserfarenhet</h2>
            <div class="feature grid grid--1x2-experience">
                <div class="branch--main" data-aos="fade-up">
                    <div class="branch--circle--top--orangered"></div>
                    <div class="branch--dev--orangered">
                        <div class="branch--circle--middle--orangered"></div>
                        <p class="branch--dev--info"><b>ICA SUPERMARKET</b><br> Töreboda <br> Maj.2016 - Aug.2020</p>
                    </div>
                    <div class="branch--circle--bottom--orangered"></div>
                </div>
                <div class="feature--content feature--content--orangered" data-text="Commit Message:">
                    <h3 class="feature--headings--orangered">KASSÖR, LIVSMEDELSINDUSTRIN</h1>
                        <ul>
                            <li>Jobbade inom livsmedelsindustrin under tiden jag pluggade.</li>
                            <li>Tillhandahöll utmärkt service samtidigt som snabba transaktioner utfördes med noggrannhet i en stressig och hektisk miljö.
                            </li>
                        </ul>
                </div>
            </div>
            <div class="feature grid grid--1x2-experience">
                <div class="branch--main" data-aos="fade-up">
                    <div class="branch--circle--top--orangered"></div>
                    <div class="branch--dev--orangered">
                        <div class="branch--circle--middle--orangered"></div>
                        <p class="branch--dev--info"><b>KÄLLBERGS</b><br> Töreboda <br> Aug.2018 - Jan.2019</p>
                    </div>
                    <div class="branch--circle--bottom--orangered"></div>
                </div>
                <div class="feature--content feature--content--orangered" data-text="Commit Message:">
                    <h3 class="feature--headings--orangered">SÄLJPRAKTIKANT, LIVSMEDELSINDUSTRIN</h1>
                        <ul>
                            <li>Analyserade affärsmöjligheter i Sydostasien och identifierade strategier för marknadsexpansion.</li>
                            <li>Etablerade ett nätverk av distributörer genom att utveckla urvalskriterier, identifiera, utvärdera och besluta om distributörer.</li>
                            <li> Samordnat mellan distributörer och olika avdelningar inom företaget såsom FoU, försäljning och export.</li>
                        </ul>
                </div>
            </div>
        </div>
    </article>
</section>